<h1><%=h @post.title %></h1>
<p><%=h @post.body %></p>
<br>
<a href="/posts/<%= @post.id %>/edit">Edit Post</a>
<br>
<p>This post has <%= @length %> words</p>
<p>This post has an average word length of <%= @avg_length %> characters</p>