<div class="well">
  <h1><%=h @post.title %></h1>
  <p><%=h @post.body %></p>
  <br>
  <a class="btn btn-warning" role="button" href="/posts/<%= @post.id %>/edit">Edit Post</a>
</div>

<table class="table">
  <tr>
    <th>Number of words</th>
    <th>Avg word length</th>
    <th>Most common word(count)</th>
  </tr>
  <tr>
    <td><%= @length %></td>
    <td><%= @avg_length %></td>
    <td><%= @most_popular['word'] %> (<%= @most_popular['count'] %>)</td>
  </tr>
</table>


<p>This is the word list for this post</p>
<p><%= @word_list %></p>
